* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1112px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card-box-a1 {
    display: flex;
    width: 1086px;
    height: 383px;
    padding: 20px;
    gap: 33px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
}

.card-reght {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.text {
    display: flex;
    height: 201px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.text h2 {
    color: #284B80;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.text p {
    color: #8D98AA;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.frame {
    display: flex;
    gap: 24px;
}

.f-text {
    width: 404px;
}

.f-text h4 {
    width: 110px;
    color: #284B80;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.f-text p {

    color: #8D98AA;
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
}

.frame img {
    width: 63px;
    height: 63px;
}

.frame>a i {
    font-size: 20px;
    color: #458FF6;
}

.b {
    margin-top: 28px;
}

.smoothie {
    margin-top: 112px;
    gap: 25px;
}

.card-box-smoothie {
    display: flex;
    width: 354px;
    height: 521px;
    padding: 14px 14px 24px 14px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
}

.card-box-smoothie h3 {
    color: #284B80;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.s1 p {
    width: 238px;
    font-size: 18px;
}

.visiting {
    margin-top: 96px;
    max-width: 1034px;
    gap: 50px;
}

.card-box-visiting {
    width: 492px;
    height: 633px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
}

.card-box-visiting img {
    border-radius: 16px 16px 0 0;
}

.visiting-text {
    color: #6D8493;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.t-top h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.t-top>a {
    text-decoration: none;
    color: #6D8493;
    font-size: 16px;
    font-weight: 400;
}

.t-top>a i {
    font-size: 20px;
}

.t-senter {
    display: flex;
}

.div {
    width: 225px;
    height: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.div>h3 {
    color: #151D20;
}

.visiting-text>button {
    border: none;
    width: 364px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--blue-2, #2D9CDB);
    color: #FFF;
}
.multi-profile {
    width: 800px;
    margin-top: 120px;
}
.cards-box-multi-profile {
    display: flex;
    width: 800px;
    height: 264px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background: #F5F9FF;
}

.card {
    width: 245px;
    height: 232px;
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.card1 {
    border: 1px solid var(--iris-100, #5D5FEF);

}

.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    color: #A7B5BE;
}

.card-text {
    color: var(--dark-extrabold, #414F58);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.card-text>a {
    text-decoration: none;
    color: #A7B5BE;
}

.line {
    width: 213.333px;
    height: 1px;
    background: #F1F1F1;
}

.follows-box {
    display: flex;
    gap: 20px;
}

.l2 {
    width: 1px;
    height: 46px;
}

.follows-box>.div {
    width: 72px;
}

.list-card {
    max-width: 1038px;
    margin-top: 120px;
    gap: 30px;
}

.list-card-box {
    display: flex;
    width: 504px;
    height: 549px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
}

.list-card-box img {
    border-radius: 16px 16px 0 0;
}

.card-l-text {
    display: flex;
    padding: 16px 16px 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.l-text-top {
    width: 472px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}

.l-text-top>h4 {
    font-family: 'Raleway';
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
}

h4>p {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
}

h4>a {
    font-family: 'Raleway';
    margin-left: 150px;
    width: 115px;
    padding: 6px 20px;
    border-radius: 32px;
    border: 1px solid var(--dcs-primary-10, #598EC2);
    color: var(--dcs-primary-10, #598EC2);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.icons {
    display: flex;
    color: #EAC800;
    font-size: 18px;
}

.icons>p {
    font-family: 'Raleway';
    color: #fff;
    margin-left: 12px;
    width: 56px;
    padding: 4px 15px;
    gap: 10px;
    border-radius: 17px;
    background: var(--green-2, #27AE60);
}

.l-text-bottom {
    display: flex;
    gap: 16px;
}

.l-text-bottom>.div {
    font-family: 'Raleway';
    width: 146px;
    color: var(--blue-grey-300, #90A4AE);
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    gap: 8px;
}

.div>h6 {
    font-family: 'Raleway';
    color: #607D8A;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.div>h6 i {
    color: #27AE60;
    font-size: 8px;
}

.widding-card {
    max-width: 1080px;
    margin-top: 161px;
    gap: 32px;
    margin-bottom: 500px;
}

.widding-card-box {
    background: #FFF;
    border-radius: 16px;
    width: 246px;
    height: 360px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
}

.widding-card-box>img {
    border-radius: 16px 16px 0 0;
}

.widding-card-bottom {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 14px;
}

.widding-card-bottom>h5 {
    width: 152px;
    color: var(--dark-extrabold, #414F58);
    font-size: 22px;
    font-weight: 500;
}

.widding-card-bottom>h5 p {
    margin-top: 6px;
    color: #6D8493;
    font-size: 13px;
    font-weight: 400;
}

.icon {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #FFEFEB;
}